@import "./var";
@import "./datePicker";
@import "./fontawesome.min";
@import "./solid.min";

body{
  color: #383838;
  background: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #fff;
    color: #383838;
  }
}

// pc
@media screen and(min-width: 1000px) {
  body {
    // 处理打开弹窗禁用滚动条导致宽度变宽布局发生轻微变化问题
    overflow: auto !important;
    width: unset !important;
  }
  .common-row {
    max-width: 1295px;
    margin: 0 auto;
    padding-left: 64px;
    padding-right: 64px;
  }
  .global-content {
    padding-top: 106px;
    min-height: calc(100vh - 86px - 106px);
  }
}

// 移动端
@media screen and(max-width: 1000px) {
  .common-row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .global-content {
    padding-top: 66px;
    min-height: calc(100vh - 66px - 182px);
  }
  .arco-modal-simple {
    width: 70% !important;
  }
}

.arco-trigger-popup {
  //zoom: var(--scale);
  transform: scale(var(--scale));
}

.arco-modal-footer {
  .arco-btn-primary,
  .arco-btn-primary[type="button"],
  .arco-btn-primary[type="submit"] {
    background-color: $main-grey;
  }
}

.grey {
  color: #aaaaaa;
}

.fs12 {
  font-size: 12px;
}

.black-btn.arco-btn {
  background: $main-grey !important;
  color: #ffffff !important;

  &:hover {
    background: #515050 !important;
    color: #ffffff !important;
  }
}

.black-outline-btn {
  background-color: #fff !important;
  color: $main-grey !important;
  border: 1px solid $main-grey !important;

  &:hover {
    background: #f7f8fa !important;
    color: $main-grey !important;
    border: 1px solid $main-grey !important;
  }
}

.see-more {
  text-align: center;
  margin: 30px auto;

  .arco-btn-outline,
  .arco-btn-outline[type="button"],
  .arco-btn-outline[type="submit"] {
    border: 1px solid $main-grey;
    color: rgba(56, 56, 56, 1);
    padding: 0 20px;
    height: 38px;

    &:hover {
      background-color: $main-grey;
      border: 1px solid $main-grey;
      color: #fff;
    }
  }
}

//.arco-checkbox-checked .arco-checkbox-icon{
//  background-color: #333 !important;
//}

.loader-animate {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      -60deg,
      var(--color-fill-2) 25%,
      var(--color-neutral-3) 40%,
      var(--color-fill-3) 55%
  );
  background-size: 400% 100%;
  animation: loop-circle 1.5s cubic-bezier(0.34, 0.69, 0.1, 1) infinite;
}

@keyframes loop-circle {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.arco-Message {
  align-items: center;
}

.arco-link:hover {
  color: $main-blue !important;
}

.arco-tree-select-popup {
  max-height: 260px;
}

