$main-pink: #ED0F77;
$sub-main-pink: #E33C64;
$main-blue: #2A82E4;
$main-blue-d:#1A77F2;
$main-grey: #383838;
$main-grey-rbg: rgba(56, 56, 56, 1);
$main-black: #000000;
$main-black-333: #333333;
$main-black-1D: #1D2129;
$main-black-1D-rbg: rgba(29, 33, 41, 1);
$main-white: #ffffff;
$grey-font-label: #AAAAAA;
$main-grey-border: #e5e5e5;

